<!-- Navigation bar -->
<nav>
  <div class="navbar" id="navbar-responsive">
      <a class="nav-l nav-link" href="/">Home Connect</a> 
      <a class="nav-r nav-link" href="/login">Se connecter</a>
      <a class="nav-r nav-link" href="/register">S'enregistrer</a>
      <a class="icon nav-link" onclick="makeNavbarResponsive()"href="javascript:void(0);" ><i class="fa fa-bars"></i></a>
  </div>
</nav>

<script>
// Get the division Id 
let navbar = document.getElementById("navbar-responsive");
// Get navbar height + 1 (when we are on the top)
let sticky = navbar.offsetTop + 1;

function makeNavbarResponsive() {
  // If the class set on navbar transform to responsive class
  // Else redefine it to navbar
  if ( navbar.className === "navbar") { navbar.className += " responsive"; } 
  else { navbar.className = "navbar"; }
}

window.onscroll = function() {makeNavbarFixed()};

function makeNavbarFixed() {
  // If we scroll change navbar style to fixed
  // Else remove fixed style to use inherit position
  if (window.pageYOffset >= sticky) { navbar.classList.add("navbar-fixed"); } 
  else { navbar.classList.remove("navbar-fixed"); }
}

</script>

