<%- include("partials/navbar"); %>

<div class="grid-container">
    <!-- Menu -->
    <div class="sidebar">
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome <%= user.name %></p>
        <a href="/logout" class="btn btn-secondary">Logout</a>
    </div>

    <!-- Database statistics + graphs -->
    <div class="sensor-light cards">
        <div class="row">
            <div class="column column-full">
                <img src="assets/img/luminosity.png">
                <p>Block 1</p>
            </div>
        </div>
    </div>

    <%- include("partials/todolist"); %>

    <!-- Manage Employes -->
    <div class="sensor-dht11 cards">
        <div class="row">
            <div class="column">
                <img src="assets/img/temperature.png">
                <p>Block 1</p>
            </div>
            <div class="column">
                <img src="assets/img/humidity.png">
                <p>Block 2</p>
            </div>
        </div>
    </div>

    <!-- Manage team -->
    <div class="team cards">
        <img src="assets/img/acteur_1.png" alt="Anthony Gugliotta" title="Anthony Gugliotta">
        <img src="assets/img/acteur_2.png" alt="Christian Hecquet" title="Christian Hecquet">
        <img src="assets/img/acteur_3.png" alt="Anthony Di Furia " title="Anthony Di Furia ">
        <img src="assets/img/acteur_4.png" alt="Ludovic Flament  " title="Ludovic Flament  ">
    </div>

    <!-- Manage gallery -->
    <!-- Manage tools -> git, doc, trello -->
  </div>
  </div>
