<%- include('partials/navbar'); %>
<section class="hero">
  <div class="background-image"></div>
    <div class="hero-content-area">
      <% include ./partials/messages %>
      <form action="/register" method="POST" class="connection-form">
        <p class="register-text">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        </p>
        <input type="name" class="connection-field" autofocus="true" required="true" placeholder="Enter Name" id="name" name="name" value="<%= typeof name != 'undefined' ? name : '' %>">
        <input type="email" class="connection-field" autofocus="true" required="true" placeholder="Email" id="email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
        <input type="password" class="connection-field" autofocus="true" required="true" placeholder="Password" id="password" name="password" value="<%= typeof password != 'undefined' ? password : '' %>">
        <input type="password" class="connection-field" autofocus="true" required="true" placeholder="Confirm password" id="password2" name="password2" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
        <input type="submit" name="Register" value="Register" class="register-submit" />
        <a href="/login"class="goto-login">Vous avez déjà un compte ? Se connecter.</a>
      </form>
      <div class="underlay-photo"></div>
      <div class="underlay-black"></div> 
    </div>
  </div>
</section>
