<body>
  <%- include('partials/navbar'); %>

  <section class="hero">
    <div class="background-image"></div>
    <div class="hero-content-area">
      <h1>Connectez vous à votre maison.</h1>
      <h3>Home Connect est une solution qui vous permettra de connecter vos objets chez vous !</h3>
    </div>
  </section>

  <section class="contact">
    <h3 class="title">En apprendre plus sur nous.</h3>
    <hr>
    <p>Le projet Home Connect est né dans le cadre de la conception d'un projet sur les objets connectés au sein de l'école Ynov. Notre
      équipe se forme de 4 développeurs en informatique, spécialisés dans l'iot et supervisés par l'entreprise Alternadom.
    </p>
  </section>

  <footer>
    <p>Home Connect le futur sera bientot chez vous</p>
    <p>Bon... J'ai tout dit vous pouvez partir sur nos réseaux !</p>
    <ul>
      <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
    </ul>
  </footer>
