/* Display cards on the grid */
  
.grid-container {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-template-rows: 15rem 15rem 30rem 15rem;
    gap: 30px 15px;
    grid-template-areas: 
    "sidebar sensor-light       sensor-light       sensor-light       sensor-light" 
    "sidebar sensor-dht11       sensor-dht11       sensor-dht11       sensor-dht11" 
    "sidebar to-do-list         to-do-list         to-do-list         to-do-list" 
    "sidebar team               team               team               team";
  }
  
  /* Set cards on the grid */
  
  .sensor-light {
    grid-area: sensor-light;
    margin-top: 2rem;
  }
  
  .to-do-list {
    grid-area: to-do-list;
  }
  
  
  .sensor-dht11 {
    grid-area: sensor-dht11;
  }
  
  .team {
    grid-area: team;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    img {
      width: 15%;
      margin: 0 .25rem 0 .25rem;
    }
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color: #e3e3e3;
  }  
  
  .cards {
    background-color: #1150978a;
    word-wrap: break-word;
    border-radius: 5px;
    border-radius: .25rem;
    border: 0px solid transparent;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  
  .cards header {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    height: 3rem;
    margin-bottom: 1rem;
  }
  
  .cards-header {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 1rem;
  }
  
  .cards-header-r {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
  
    a {
      font-weight: 800;
      font-size: 18px;
      margin-right: 1.5rem;
    }
  }
  
  h4 {
    margin: 0;
  }
  


.row {
  display: flex;
  justify-content: center;
  margin: .5rem;

  .column {
    float: left;
    width: 49.2%;
    height: 10rem;
    padding: .5rem;
    margin: .5rem .25rem .5rem;
    background-color: #ececec;
    
    img {
      width: 10%;
    }
  
    p {
      margin: .5rem;
    }
  
    &:nth-child(2) {
      border-left: 2px solid #1f1f1f;
    }
  }
  .column-full {
    width: 99.2%;

    img {
      width: 5%;
    }
  }
}
