  /*--------------------------to-do-list-------------------------------------*/
  
  .sortable::-webkit-scrollbar, .cal::-webkit-scrollbar {
    width: 1.5rem;
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  .sortable::-webkit-scrollbar-thumb, .cal::-webkit-scrollbar-thumb {
    background: #000;
  }
  
  .sortable, .cal {
    scrollbar-color: #000 rgba(0, 0, 0, 0.15);
    scrollbar-width: thin;
  }
  
  .to-do-list-content li label {
    input {
      opacity: 0;
  
      &[type="checkbox"]:checked ~ p {
        text-decoration: line-through;
      }
    }
  
    div {
      justify-content: flex-end;
      align-items: flex-end;
      display: flex;
  
      a {
        text-decoration: none;
        color: #989c99;
        margin-right: .5rem;
        font-size: 15px;
  
        &:last-child {
          margin-right: 1rem;
        }
      }
    }
  }
  
  .to-do-list-task {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  ul.sortable {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 86%;
    overflow: hidden auto;
  
    > li {
      display: block;
      border-radius: 4px;
      cursor: move;
      position: relative;
      margin: auto 2rem auto 2rem;
      margin-bottom: .5rem !important;
      background: #ececec;
      color: #99abb4;
      font-size: 14px;
  
      &:hover {
        background: #ffffe0;
      }
  
      &.active {
        background: #ccc;
      }
  
      &.dragging {
        background: #e0ffff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        opacity: 0.5;
      }
    }
  }