/**
	Connection Forms
*/
input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus {
  outline: 0 transparent solid;
}

input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.connection-form {
  background: #0a0a0a;
  opacity: 0.7;
  min-height: 20rem;
  margin: auto;
  max-width: 60%;
  padding: .5rem;
}

.login-text, .register-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
}

.login-text .fa-stack-1x, .register-text .fa-stack-1x {
  color: black;
}

.connection-field, .connection-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
}

.connection-field:focus, .connection-password:focus {
  background: white;
  color: black;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

.goto-register, .goto-login {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.goto-register:hover, .goto-login:hover {
  opacity: 1;
}

.login-submit, .register-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

.login-submit:hover, .login-submit:focus, .register-submit:hover, .register-submit:focus {
  background: white;
  color: black;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

/* Display cards on the grid */
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19% 19% 19% 19% 19%;
      grid-template-columns: 19% 19% 19% 19% 19%;
  -ms-grid-rows: 15rem 15rem 30rem 15rem;
      grid-template-rows: 15rem 15rem 30rem 15rem;
  gap: 30px 15px;
      grid-template-areas: "sidebar sensor-light       sensor-light       sensor-light       sensor-light"  "sidebar sensor-dht11       sensor-dht11       sensor-dht11       sensor-dht11"  "sidebar to-do-list         to-do-list         to-do-list         to-do-list"  "sidebar team               team               team               team";
}

/* Set cards on the grid */
.sensor-light {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: sensor-light;
  margin-top: 2rem;
}

.to-do-list {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: to-do-list;
}

.sensor-dht11 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: sensor-dht11;
}

.team {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: team;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team img {
  width: 15%;
  margin: 0 .25rem 0 .25rem;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background-color: #e3e3e3;
}

.cards {
  background-color: #1150978a;
  word-wrap: break-word;
  border-radius: 5px;
  border-radius: .25rem;
  border: 0px solid transparent;
  border: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.cards header {
  color: #000 !important;
  background-color: #f1f1f1 !important;
  height: 3rem;
  margin-bottom: 1rem;
}

.cards-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 1rem;
}

.cards-header-r {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-header-r a {
  font-weight: 800;
  font-size: 18px;
  margin-right: 1.5rem;
}

h4 {
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .5rem;
}

.row .column {
  float: left;
  width: 49.2%;
  height: 10rem;
  padding: .5rem;
  margin: .5rem .25rem .5rem;
  background-color: #ececec;
}

.row .column img {
  width: 10%;
}

.row .column p {
  margin: .5rem;
}

.row .column:nth-child(2) {
  border-left: 2px solid #1f1f1f;
}

.row .column-full {
  width: 99.2%;
}

.row .column-full img {
  width: 5%;
}

.navbar {
  overflow: hidden;
  /* Hide the text on screen reduction */
  position: inherit;
  /* Fix the navbar on the top of the screen */
  z-index: 2;
  /* Pass the bar on the 2nd layer */
  width: 100%;
  /* Extends the bar horizontally */
  margin: 0;
  /* Set margins to 0 */
  padding: 0;
  /* Set padding to 0 */
  list-style-type: none;
  /* Disable dots */
  text-transform: uppercase;
  /* Pass the text to upper case */
  background-color: #0a0a0a;
  /*Set the navbar background color */
}

.navbar a {
  padding: 10px 16px;
  /* Set the link padding */
}

.navbar .nav-l {
  float: left;
  /* Align items to the left */
}

.navbar .nav-r {
  float: right;
  /* Align items to the right */
}

.navbar .nav-link {
  font-size: 18px;
  /* Set the link font size */
  color: #ffffff;
  /* Set the link font color */
}

.navbar .nav-link:hover {
  color: #cdcdcd;
  /* Change the font color on hover */
}

.navbar .nav-link:focus {
  color: #cdcdcd;
  /* Change the font color on focus */
}

.navbar .icon {
  display: none;
  /* By default hide the menu button */
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*--------------------------to-do-list-------------------------------------*/
.sortable::-webkit-scrollbar, .cal::-webkit-scrollbar {
  width: 1.5rem;
  background-color: rgba(0, 0, 0, 0.15);
}

.sortable::-webkit-scrollbar-thumb, .cal::-webkit-scrollbar-thumb {
  background: #000;
}

.sortable, .cal {
  scrollbar-color: #000 rgba(0, 0, 0, 0.15);
  scrollbar-width: thin;
}

.to-do-list-content li label input {
  opacity: 0;
}

.to-do-list-content li label input[type="checkbox"]:checked ~ p {
  text-decoration: line-through;
}

.to-do-list-content li label div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.to-do-list-content li label div a {
  text-decoration: none;
  color: #989c99;
  margin-right: .5rem;
  font-size: 15px;
}

.to-do-list-content li label div a:last-child {
  margin-right: 1rem;
}

.to-do-list-task {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

ul.sortable {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 86%;
  overflow: hidden auto;
}

ul.sortable > li {
  display: block;
  border-radius: 4px;
  cursor: move;
  position: relative;
  margin: auto 2rem auto 2rem;
  margin-bottom: .5rem !important;
  background: #ececec;
  color: #99abb4;
  font-size: 14px;
}

ul.sortable > li:hover {
  background: #ffffe0;
}

ul.sortable > li.active {
  background: #ccc;
}

ul.sortable > li.dragging {
  background: #e0ffff;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

html {
  font-size: 18px;
  color: #555555;
  background-color: #0a0a0a;
}

ul {
  list-style: none;
}

nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: #ffffff;
}

a:hover {
  opacity: 1;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5;
}

section h3.title {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

.grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #25c2c2;
  border: 0;
  margin-bottom: 50px;
}

.hero {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 90vh;
  color: #ffffff;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://pagedesignweb.com/wp-content/uploads/2018/07/bilgisayarsistemleri-1.jpg");
  background-size: cover;
  z-index: -1;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.hero h1 {
  font: 72px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.hero h3 {
  font: 28px;
  font-weight: 300;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

.hero a.btn {
  padding: 20px 46px;
}

.hero-content-area {
  opacity: 0.5;
  -webkit-animation: 1s slidefade 1s forwards;
          animation: 1s slidefade 1s forwards;
  width: 50%;
  height: 20rem;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

.contact form .btn {
  padding: 18px 42px;
}

.contact form input {
  padding: 15px;
  margin-right: 30px;
  font-size: 18px;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #208f8f;
  color: #ffffff;
  padding: 20px 0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
  .hero {
    min-height: 600px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero h3 {
    font-size: 24px;
  }
  .hero a.btn {
    padding: 15px 40px;
  }
}

@media (max-width: 1000px) {
  .contact form input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 1100px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer p {
    text-align: center;
    margin-bottom: 20px;
  }
  footer ul li {
    margin: 0 8px;
  }
}

@-webkit-keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.center-div {
  margin: 0 auto;
  width: 100px;
}
/*# sourceMappingURL=style.css.map */