@import './connection';
@import './dashboard';
@import './navbar';
@import './todolist';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gill Sans", sans-serif;
}

html {
	font-size: 18px;
	color: #555555;
	background-color: #0a0a0a;
}

ul {
	list-style: none;
}

nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #ffffff;
	&:hover {
		opacity: 1;
	}
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
	&:not(.hero) {
		&:nth-child(even) {
			background-color: #f5f5f5;
		}
	}
	h3.title {
		text-transform: capitalize;
		font-weight: bold;
		margin-bottom: 30px;
		text-align: center;
	}
	p {
		max-width: 775px;
		line-height: 2;
		padding: 0 20px;
		margin-bottom: 30px;
		text-align: center;
	}
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #25c2c2;
	border: 0;
	margin-bottom: 50px;
}

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 90vh;
	color: #ffffff;
	.background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("https://pagedesignweb.com/wp-content/uploads/2018/07/bilgisayarsistemleri-1.jpg");
		background-size: cover;
		z-index: -1;
		filter: brightness(50%);
	}
	h1 {
		font: 72px;
		text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
		margin-bottom: 15px;
	}
	h3 {
		font: 28px;
		font-weight: 300;
		text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
		margin-bottom: 40px;
	}
	a.btn {
		padding: 20px 46px;
	}
}

.hero-content-area {
	opacity: 0.5;
	animation: 1s slidefade 1s forwards;
	width: 50%;
	height: 20rem;
}

.contact {
	form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 60%;
		.btn {
			padding: 18px 42px;
		}
		input {
			padding: 15px;
			margin-right: 30px;
			font-size: 18px;
			color: #000000;
			flex: 1;
		}
	}
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #208f8f;
	color: #ffffff;
	padding: 20px 0;
	ul {
		display: flex;
		li {
			margin-left: 16px;
		}
	}
	p {
		text-transform: uppercase;
		font-size: 14px;
		opacity: 0.6;
		align-self: center;
	}
}
@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
	.hero {
		min-height: 600px;
		h1 {
			font-size: 48px;
		}
		h3 {
			font-size: 24px;
		}
		a.btn {
			padding: 15px 40px;
		}
	}
}

@media (max-width: 1000px) {
	.contact {
		form {
			input {
				flex-basis: 100%;
				margin: 0 0 20px 0;
			}
		}
	}
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
		p {
			text-align: center;
			margin-bottom: 20px;
		}
		ul {
			li {
				margin: 0 8px;
			}
		}
	}
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

.center-div {
	margin: 0 auto;
	width: 100px; 
}